/* Codicon glyph mappings from Microsoft/monaco-editor, MIT license. */
.codicon-arrow-down::before { content: "\ea9a"; }
.codicon-arrow-right::before { content: "\ea9c"; }
.codicon-arrow-up::before { content: "\eaa1"; }
.codicon-attach::before { content: "\ec34"; }
.codicon-bookmark::before { content: "\eaa5"; }
.codicon-chevron-down::before { content: "\eab4"; }
.codicon-chevron-right::before { content: "\eab6"; }
.codicon-cloud-upload::before { content: "\eac3"; }
.codicon-comment-discussion::before { content: "\eac7"; }
.codicon-debug-pause::before { content: "\ead1"; }
.codicon-debug-stop::before { content: "\ead7"; }
.codicon-edit::before { content: "\ea73"; }
.codicon-ellipsis::before { content: "\ea7c"; }
.codicon-export::before { content: "\ebac"; }
.codicon-file::before { content: "\ea7b"; }
.codicon-file-code::before { content: "\eae9"; }
.codicon-file-media::before { content: "\eaea"; }
.codicon-files::before { content: "\eaf0"; }
.codicon-folder::before { content: "\ea83"; }
.codicon-folder-opened::before { content: "\eaf7"; }
.codicon-history::before { content: "\ea82"; }
.codicon-json::before { content: "\eb0f"; }
.codicon-keyboard::before { content: "\ea65"; }
.codicon-markdown::before { content: "\eb1d"; }
.codicon-play::before { content: "\eb2c"; }
.codicon-preview::before { content: "\eb2f"; }
.codicon-question::before { content: "\eb32"; }
.codicon-save::before { content: "\eb4b"; }
.codicon-symbol-color::before { content: "\eb5c"; }
.codicon-type-hierarchy::before { content: "\ebb9"; }
.codicon-unmute::before { content: "\eb75"; }
